@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

:root {
  --site-font: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
  font-family: var(--site-font);
}

#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  transition: 200ms ease-in-out;
  pointer-events: none;
}

#overlay.active {
  pointer-events: all;
  opacity: 1;
}

body {
  height: 100vh;
  color: white;
  background-image: url(./img/jeremy-perkins-uhjiu8FjnsQ-unsplash.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
}

header {
  text-align: center;
  color: gold;
  font-size: 2.5em;
}

main {
  align-self: center;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.main-btns {
  display: flex;
  gap: 100px;
}

.modal {
  color: black;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -150px;
  background-color: white;
  padding: 15px;
  transform: scale(0);
  transition: transform 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  width: 300px;
  height: 400px;
  max-width: 80%;
}

.modal.delete-modal {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 15px;
}

.delete-modal h1,
h2,
p {
  margin: 0;
  padding: 0;
}

.dm-btns {
  display: flex;
  gap: 50px;
}

.modal.active {
  transform: scale(1);
}

.modal h1 {
  margin-top: 25px;
  margin-bottom: 0;
  padding: 0;
}

.modal .close-btn {
  border: 1px solid black;
  border-radius: 2px;
  padding: 1px 5px;
  position: absolute;
  right: 10px;
  top: 15px;
  text-align: center;
  width: 25px;
  padding: 2px;
  font-weight: 900;
}

.modal .close-btn:hover {
  background-color: goldenrod;
}

.modal form {
  font-size: 1.5rem;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.modal form > button {
  width: 100px;
  max-width: 100px;
}

button:hover {
  cursor: pointer;
  transform: scale(1.15);
}

.new-btn,
.author-btn {
  width: 200px;
  height: 100px;
  border-radius: 10px;
  font-size: 2rem;
}

.grid-container {
  border: 1px solid gold;
  background-color: black;
  padding: 15px;
  max-width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 50px;
  margin-bottom: 100px;
}

.card {
  padding: 25px;
  color: black;
  border-radius: 10px;
  background-color: whitesmoke;
  min-height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.card-text {
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card-text > p {
  margin: 0;
  padding: 0;
}

.card-btn {
  align-self: center;
  display: flex;
  gap: 25px;
}

.card-btn > button {
  font-family: var(--site-font);
  font-size: 1rem;
  font-weight: bold;
  border-radius: 10px;
  width: 100px;
  height: 50px;
}

.card-btn > button:hover,
.dm-btns > button:hover {
  color: whitesmoke;
  background-color: darkgoldenrod;
}

.card-btn > :nth-child(2) {
  color: darkred;
}

.card-btn > :nth-child(2):hover,
.dm-btns > :nth-child(2):hover {
  color: whitesmoke;
  background-color: darkred;
}

footer {
  text-align: center;
  margin-top: auto;
}

@media only screen and (max-width: 600px) {
  .main-btns {
    flex-direction: column;
    gap: 50px;
  }
}
